.mainPage{
    width: 100%;


}

.loginSignup{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 60px);
}

.leftPage{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color:#f5f5f5;
    justify-content: center;
    background-image: url('2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.leftPageTitle{
    height: 30px;
    font-size: 30px;
    font-family: "Open Sans Condensed";
    letter-spacing: 3px;
    color: white;
    font-weight: 700;
}

.leftPageUnder{
    font-size: 20px;
    font-family: "Raleway";
    letter-spacing: 1px;
    color: white;
    margin: 10px auto;
}

.devLoginDiv{
    height: 500px;
    width: 90%;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    display: flex;

    flex-wrap: wrap;
    align-content: center;
    background-color: white;

}



.rightPage{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color:#f5f5f5;
}

.rightPageTitle{
    height: 30px;
    font-size: 30px;
    font-family: "Open Sans Condensed";
    letter-spacing: 3px;
    color: cornflowerblue;
    font-weight: 700;
    margin: 30px auto;

}

.businessSignUp{

    width: 80%;
    /*background-color: blue;*/
}

.f_dataS {
    margin: 0 auto;
    background-color: cornflowerblue;
    color: white;
    width: 190px;
    height: 40px;
    border-radius: 15px;

    line-height: 40px;
    text-align: center;
    font-family: "Open Sans Condensed";
    font-size: 20px;
    letter-spacing: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.f_dataS:hover{
    background-color: black;
    color: cornflowerblue;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.underFormText{
    margin: auto;
    font-family: "Open Sans Condensed";
    color: black;
    font-size: 20px;
    letter-spacing: 3px;

}

.underFormText:hover{
    cursor: pointer;
}

.absolutePositionBottom{
    margin: 30px auto 0px auto;
    position: absolute;
    bottom: 10px;
}

.blueTextDefault{
    color: cornflowerblue;
}


/*dev signin*/

.halfPageNoPhotoFlex{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color:#f5f5f5;
}

.pageTitleCenter{
    height: 30px;
    font-size: 30px;
    font-family: "Open Sans Condensed";
    letter-spacing: 3px;
    font-weight: 700;
    margin: 30px auto;
}


.halfPageWithImageFlex{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color:#f5f5f5;
    justify-content: center;
}

#devLoginImage{
    background-image: url('5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}